{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block body %}
<h1> Registrar </h1>

<form action="{{path("BloggerBlogBundle_erro")}}" method="post" class="blogger">
    <li.form>
        {{ form_widget(form)}}
    </li.form>
    <input type="submit">
</form>


{% endblock %}
